# Dependencies
node_modules
.bun

# Next.js
.next
out

# Database
.data/
.drizzle/

# Env
.env*
!.env.example

# Testing
coverage
playwright-report/
test-results/

# Misc
.DS_Store
tsconfig.tsbuildinfo
